<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="">
<title>企微-绑定登录账号</title>
<link th:href="@{{basePath}/qwzt/css/bootstrap.css(basePath=${BASE_PATH})}" rel="stylesheet">
<link th:href="@{{basePath}/qwzt/css/do1.css(basePath=${BASE_PATH})}" rel="stylesheet">
<script th:src='@{{basePath}/qwzt/js/jquery-1.7.2.min.js(basePath=${BASE_PATH})}'></script>
<script th:src="@{{basePath}/qwzt/js/3rd-plug/jquery/jquery.form.js(basePath=${BASE_PATH})}"></script>
<!--<script th:src="@{{basePath}/qwzt/js/common.js(basePath=${BASE_PATH})}"></script>-->

</head>
<body>
<div>
    <iframe th:replace="qwzt/experience2/header::html"></iframe>
</div>
<div class="container" style="margin-top:50px">

    <div class="content">
        <div class="password_box">
            <h2 class="title">验证登录密码</h2>
            <form id="from1"
                  th:action="@{{basePath}/portal/userLoginAction/weixinLoginReset.do(basePath=${BASE_PATH})}"
                  method="post" autocomplete="off"
                  onsubmit="return false;">
                <input type='hidden' name='loginId' th:value="${param.id}"/>
                <input type='hidden' name='state' th:value="${param.state}"/>
                <div id="step1">
                    <div class="ps_con">
                        <p class="p_con"> 您的账号密码已经修改，为了账号的安全，请输入密码重新绑定 </p>
                        <p style="margin-top:10px;" class="p_con">密码：</p>
                        <input type="password" size="20" name="j_password" id="password" placeholder='请输入登录密码'>
                        <p class="tips_con1" id="tips_con2"><img
                                th:src="@{{basePath}/qwzt/images/error.png(basePath=${BASE_PATH})}"><span
                                class="tips_con">请输入登录密码</span></p>
                    </div>
                    <div class="tool_bar">
                        <input type="submit" value="确定" class="bt_action" id="submit">
                    </div>
                </div>
            </form>
            <form id="id_form_login" th:action="@{{basePath}/j_spring_security_check(basePath=${BASE_PATH})}"
                  method="post" autocomplete="off">
                <input type='hidden' name='_spring_security_remember_me' value="true"/>
                <input type='hidden' name="j_username" id="j_username" value="${param.state}"/>
                <input type='hidden' name="j_password" id="j_password">
                <button id="btn_login" type="button" style="display: none;"></button>
            </form>
        </div>
    </div>
</div>
<div>
    <iframe th:replace="qwzt/experience2/footer::html"></iframe>
</div>
<script type="text/javascript">
    // $(function(){
    // 	$('#from1').jCryption({
    //         submitElement: $('#submit'),
    //         beforeEncryption: function () {
    //           if($('#password').val()==""){
    //             $("#tips_con2").show();
    //             return false;
    //           }
    //           else{
    //           	$("#tips_con2").hide();
    //           }
    //           return true;
    //         },
    // 	    finishEncryption: function ($formElement, encrypted) {
    // 	    	$formElement.ajaxSubmit({
    // 				dataType:'json',
    // 	   			async:false,
    // 				success:function(result){
    // 					if(result.code=="0"){
    // 					   //验证通过，需要form提交到后台登录并重定向页面
    // 			    	    //$("#btn_login").trigger("click");//模拟执行id=a的事件
    //                      if("${isUseAuthorization}"== "true"){
    //                          window.location.href = "${qwyURL}/jsp/default/login/login_result_success.jsp";
    //                      }else{
    //                          $("#j_username").val(result.data.code);
    //                          $("#id_form_login").submit();
    //                      }
    // 					}
    // 					else{
    // 						$("#j_password").val("");
    // 			        	_alert("提示信息",result.desc);
    // 					}
    // 				},
    // 				error:function(){
    // 		        	_alert("提示信息","网络错误");
    // 				}
    // 			});
    // 	    }
    //     });
    // })


    $(document).ready(function () {
        /*提交前判断*/
        $('#submit').on('click', function() {
            $('#from1').ajaxSubmit({
                dataType: 'json',
                async: false,
                success: function (result) {
                    if (result.code == "0") {
                        //验证通过，需要form提交到后台登录并重定向页面
                        //$("#btn_login").trigger("click");//模拟执行id=a的事件
                        // if ("${isUseAuthorization}" == "true") {
                        //     window.location.href = "${qwyURL}/jsp/default/login/login_result_success.jsp";
                        // } else {
                        $("#j_username").val(result.data.code);

                        // }
                        if ($('#password').val() == "") {
                            $("#tips_con2").show();
                            return false;
                        }
                        else {
                            $("#tips_con2").hide();
                        }
                        $('#id_form_login').ajaxSubmit({
                            dataType: 'json',
                            async: false,
                            success: function (result) {
                                if (result.code == "0") {
                                    //验证通过，需要form提交到后台登录并重定向页面
                                    //$("#btn_login").trigger("click");//模拟执行id=a的事件
                                    if ("${isUseAuthorization}" == "true") {
                                        window.location.href = "${qwyURL}/jsp/default/login/login_result_success.jsp";
                                    } else {
                                        $("#j_username").val(result.data.code);
                                        $("#id_form_login").submit();
                                    }
                                }
                                else {
                                    $("#j_password").val("");
                                    _alert("提示信息", result.desc);
                                }
                            },
                            error: function () {
                                _alert("提示信息", "网络错误");
                            }
                        });
                    }

                }
            });
        })



    });

</script>
<div>
    <iframe th:replace="qwzt/msgBoxs::html"></iframe>
</div>
</body>
</html>