<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="企微,企业微信,移动办公">
    <meta name="description" content="">
    <title>道一云|企微 - 企业微信官方推荐移动办公品牌</title>
    <link th:href="@{{basePath}/qwzt/css/style.css(basePath=${BASE_PATH})}" rel="stylesheet" type="text/css">
    <script th:src="@{{basePath}/qwzt/js/jquery-1.7.2.min.js(basePath=${BASE_PATH})}"></script>
    <script th:src="@{{basePath}/qwzt/js/3rd-plug/jquery/jquery.form.js(basePath=${BASE_PATH})}"></script>
    <script th:src="@{{basePath}/qwzt/js/jquery.cookie.js(basePath=${BASE_PATH})}"></script>
    <script th:src="@{{basePath}/qwzt/js/json.js(basePath=${BASE_PATH})}"></script>
    <!--<script th:inline="javascript">-->
    <!--// var baseURL= "http://localhost:9007";-->
    <!--var baseURL = "https://qy.do1.com.cn/qwy";-->
    <!--</script>-->
    <!--<script th:src="@{/js/3rd-plug/jquery/jquery.jcryption/jquery.jcryption.3.1.0.js}"></script>-->
    <script th:src="@{{basePath}/qwzt/js/compatibilityTest.js(basePath=${BASE_PATH})}"></script>
    <!--<script th:src="@{/js/DD_belatedPNG_0.0.8a-min.js}"  type="text/javascript"></script>-->
    <!--[if IE 6]><!---->
    <!--<script>-->
    <!--DD_belatedPNG.fix(".login_box,.ico-uid,.ico-pwd,.login_btn,.regist_btn,.downIphone,.downAndroid");-->
    <!--</script>-->
    <!--<![endif]&ndash;&gt;-->
</head>
<body>
<!--<div><iframe th:replace="dqdp_common::html"></iframe></div>-->
<div><iframe th:replace="qwzt/msgBoxs::html"></iframe></div>
<div class="frontHome page" id="frontHomeDiv" style="display: none">
    <div class="wrap-header">
        <div id="header">
            <div class="inner-header">
                <div class="logoNav clearfix" style="height:auto">
                    <a href="http://wbg.do1.com.cn" id="logo" target="_blank">
                        <img th:src="@{{basePath}/qwzt/images/logo.png(basePath=${BASE_PATH})}" alt="">
                    </a>
                    <div class="index_right_nav">
                        <li><a href="http://wbg.do1.com.cn" target="_blank">回到官网</a></li>
                        <li><a href="https://wbg.do1.com.cn/xueyuan/" target="_blank">企微云学院</a></li>
                        <!--<%&#45;&#45;<li class="nav_more" id="nav_more"><a>更多</a>-->
                        <!--<i></i>-->
                        <!--<div class="hide_nav">-->
                        <!--<a href="http://wbg.do1.com.cn/icon.html" target="_blank">企微资料下载</a>-->
                        <!--<a href="http://wbg.do1.com.cn/suiteps/question/st_help.html" target="_blank">套件安装手册</a>-->
                        <!--<a href="http://wbg.do1.com.cn/ask/gongnenxiangguan/2015/0930/437.html" target="_blank">管理平台使用手册</a>-->
                        <!--<a href="http://wbg.do1.com.cn/School/" target="_blank">企微学院</a></div>-->
                        <!--</li>&#45;&#45;%>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap-container">
        <div id="home_container" class="clearfix">
            <div id="home_main">
                <div class="inner-main overflow">
                    <div class="login_box">
                        <div class="clearfix">
                            <div class="fl" style="width:345px">

                                <h2>
                                    <div class="clearfix"><span class="admin">管理账号登录</span>
                                        <a class="personal c999" target="_blank" href="/loginweb.html">[个人网页版]</a>
                                    </div>
                                </h2>
                                <form id="id_form_login" th:action="@{{basePath}/j_spring_security_check(basePath=${BASE_PATH})}" method="post"
                                      autocomplete="off">
                                    <input type="hidden" name="_spring_security_remember_me" value="true"/>
                                    <input type="hidden" name="LOGIN_USER_TYPE" value="qwAdmin"/>
                                    <input type="hidden"  name="authUrlCode" th:value="${authUrlCode}"/>
                                    <input type="hidden" name="dqdp_csrf_token"
                                           th:value="${session.dqdp_csrf_token}"/>
                                    <div id="idInputLine" class="loginFormIpt"><b class="ico ico-uid-mail"></b>
                                        <input class="loginFormTdIpt search-input" tabindex="1" title="请输入账号"
                                               placeholder="请输入账号" onkeydown="onKeyUp(event)" name="j_username"
                                               id="j_username" type="text" maxlength="50" value="" autocomplete="on"
                                               valid="{"must":true,"tip":"账号"}"
                                        th:value="${session.SPRING_SECURITY_LAST_USERNAME}" >
                                    </div>
                                    <div id="pwdInputLine" class="loginFormIpt"><b class="ico ico-pwd"></b>
                                        <input class="loginFormTdIpt search-input" tabindex="2" title="请输入密码"
                                               placeholder="请输入密码" name="j_password" id="j_password" type="password"
                                               onkeydown="onKeyUp(event)">
                                    </div>


                                    <div class="loginFormBtn clearfix">
                                        <button class="login_btn" type="button" id="btn_login" style="width:100%;">登录
                                        </button>
                                        <!--  <a href="http://wbg.do1.com.cn" target="_black" class="register_btn" type="button" style="width:100%;">注册</a> -->
                                    </div>

                                    <div class="lfAutoLogin">
                                        <div class="f12 c999">建议使用 Chrome 谷歌浏览器</div>
                                        <div class="form-field form-field-rc loginBoxFooter">
                                            <!--  <a class="forget-link fr" href="#">忘记密码？</a> -->
                                            <a href="https://qy.do1.com.cn/qwy/qiweipublicity/experience2/mail_Retrieve1.jsp">找回密码 </a>
                                            <span class="f12 c999">|</span>
                                            <!--<%&#45;&#45;<a class="fr" href="http://wbg.do1.com.cn/Experience" target="_blank">还没有企微账号？<span style="color:#f87b00">马上开通></span></a>&#45;&#45;%>-->
                                            <a href="https://qy.do1.com.cn/qwy/qiweipublicity/experience2/qwyRegister1.jsp?templateId=tplc4966f276e487680"
                                               target="_blank">注册企微账户</a>
                                        </div>
                                    </div>

                                    <!--<%&#45;&#45; <a href="https://qy.weixin.qq.com/cgi-bin/loginpage?corp_id=wx1a55799d492290c4&redirect_uri=http%3A%2F%2Fqy.do1.com.cn%3A7090%2Fwxqyh%2Fportal%2Fweixin%2FweixinclientAction%21loginWeixin.action&state=<%=session.getId()%>"><img src="https://res.wx.qq.com/mmocbiz/zh_CN/tmt/home/dist/img/logo_blue_b_c97f8734.png" alt="企业微信登录"/></a> &#45;&#45;%>-->
                                </form>
                            </div>
                            <div class="login_line"></div>
                            <!--<a href="/oauth2{basePath}orize.do?authType=2&responseType=${sessionScope["OAUTH_AUTHORIZE_REQUEST"].getResponseType()}&clientId=${sessionScope["OAUTH_AUTHORIZE_REQUEST"].getClientId()}&scope=${sessionScope["OAUTH_AUTHORIZE_REQUEST"].getScope()}&redirectUri=${sessionScope["OAUTH_AUTHORIZE_REQUEST"].getRedirectUri()}&state=${sessionScope["OAUTH_AUTHORIZE_REQUEST"].getState()}"-->
                            <!--class="WXicon">-->
                            <a th:href="@{{basePath}/oauth2/authorize.do?authType=2&responseType={responseType}&clientId={clientId}&scope={scope}&redirectUri={redirectUri}&state={state}(basePath=${BASE_PATH},responseType=${session.OAUTH_AUTHORIZE_REQUEST.responseType},clientId=${session.OAUTH_AUTHORIZE_REQUEST.clientId},scope=${session.OAUTH_AUTHORIZE_REQUEST.scope},redirectUri=${session.OAUTH_AUTHORIZE_REQUEST.redirectUri},state=${session.OAUTH_AUTHORIZE_REQUEST.state})}"  class="WXicon">

                                <span>微信扫码登录</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap-footer" style="background-color: #fcfcfc">
        <div id="footer">
            <div class="inner-footer">
                <div class="foot"><a href="http://wbg.do1.com.cn/More/About/About_us/" target="_blank">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                        href="https://wbg.do1.com.cn/xueyuan/jxal" target="_blank">典型案例</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <!--<%&#45;&#45;<a href="http://wbg.do1.com.cn/bbs" target="_blank">企微社区</a>&#45;&#45;%><a-->
                    <!--href="https://wbg.do1.com.cn/xueyuan/" target="_blank">企微学院</a>&nbsp;&nbsp;|&nbsp;&nbsp;-->
                    <!--咨询电话：400-111-2626&nbsp;&nbsp;|&nbsp;&nbsp;Copyright©2004-<%=DateUtil.format(new Date(), "yyyy")%>-->
                    <!--DO1.com.cn All Rights Reserved 粤B2-20062018号-->
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">


    /**
     * 页面加载完毕之后自动加载账号信息，并判断是否直接登录。
     */
    $(document).ready(function () {
        /*提交前判断*/
        $('#btn_login').on('click', function() {
            if ($("#j_username").val() == "") {
                _alert("提示信息", "请输入账号");
                return false;
            }
            if ($("#j_password").val() == "") {
                _alert("提示信息", "请输入密码");
                return false;
            }
            // $("#id_form_login").submit();
            $("#id_form_login").ajaxSubmit({
                dataType: "json",
                async: false,
                success: function (result) {
                    window.top.location.href = "[[@{{basePath}/view/QwLoginSuccess(basePath=${BASE_PATH})}]]";
                },
                error: function (result) {
                    console.error(JSON.stringify(result));
                    if (typeof(result.responseText.desc) == undefined) {
                        _alert("提示信息", "网络异常");
                    } else {
                        var response = JSON.parse(result.responseText);
                        if (response.desc.indexOf("Bad credentials") != -1) {
                            _alert("提示信息", "账号或密码验证失败");
                        } else {
                            _alert("提示信息", "服务繁忙,请稍后再试.");
                        }
                    }
                }
            });
        });


        $("#frontHomeDiv").show();
        $("#j_username").focus();
        $("#idInputLine").addClass("focus");

        //高度自适应
        function juzhong() {
            var mttop = ($(window).height() - $(".frontHome.page").height() - 20) / 2
            if (mttop < 0) {
                mttop = 0
            }
            $(".frontHome.page").css("marginTop", mttop);
        }

        juzhong();

        $(window).resize(function () {
            juzhong();
        })

        //登录框效果
        $(".loginFormTdIpt").focus(function () {
            $(this).parent(".loginFormIpt").addClass("focus")
        }).blur(function () {
            $(this).parent(".loginFormIpt").removeClass("focus")
        })
        // 登录框清空文字
        $(".search-input").on("input click", function (event) {
            var input_colse = $("<span class='input_colse'></span>");
            if ($(this).val().length > 0) {
                $(".input_colse").remove();
                $(this).after(input_colse)
            } else {
                $(".input_colse").remove();
            }
            $(".input_colse").on("click", function () {
                $(this).prev(".search-input").val("");
                $(this).remove();
            })
        })
        //菜单更多弹出层
        //        $("#nav_more").mouseover(function () {
        //            $(this).children(".hide_nav").show();
        //        }).mouseout(function () {
        //            $(this).children(".hide_nav").hide();
        //        })
    });

    function onKeyUp(event) {
        var e = event ? event : (window.event ? window.event : null);
        if (e.keyCode == 13) $("#btn_login").trigger("click");
    }
</script>
</body>
</html>